@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Orbitron:400,900');

body {
    /* Background gradient from http://www.cssmatic.com/gradient-generator */
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}

#game-circle {
    height: 500px;
    width: 500px;
    border: 0;
    background: #2d2d2d;

    border-radius: 50%;
    box-shadow: 0px 0px 30px 5px slategrey;

    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

#color-circle {
    height: 500px;
    width: 500px;
    background: black;
    border-radius: 50%;

    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

.btn {
    height: 250px;
    width: 250px;
    position: absolute;

    border: 15px solid #121212;

    margin: 0;
    padding: 0;
}

#green {
    background: green;
    border-radius: 250px 0 0 0;
    left: -25px;
}

#red {
    background: red;
    left: 250px;
    border-radius: 0 250px 0 0;
}

#blue {
    background: blue;
    left: 250px;
    top: 275px;
    border-radius: 0 0 250px 0;
}

#yellow {
    background: yellow;
    top: 275px;
    left: -25px;
    border-radius: 0 0 0 250px;
}

#center-circle {
    height: 250px;
    width: 250px;
    border: 15px solid #121212;
    background: #EEEEEE;
    border-radius: 50%;

    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 50px; bottom: 0;
}

#top-screen {
    width: inherit;
    height: 20%;

    text-align: center;
    position: absolute;

    font-family: 'Droid Serif', serif;
}

#bottom-screen {
    width: inherit;
    height: 65%;
    margin: auto;

    position: absolute;
    top: 75px;
}

.screen {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 20% 5%;
    display: inline-block;

    position: relative;

    line-height: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px #2D2D2D;

    font-family: 'Orbitron', sans-serif;
    font-size: 0.75em;
}

#counter {
    background: #2d2d2d;
    margin-left: 7%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #2d2d2d;
    color: red;


    font-size: 1.25em;
}

#reset {
    background: red;
    border-radius: 50%;

    font-family: 'Orbitron', sans-serif;

    cursor: pointer;
}

#strict {
    background: yellow;
    border-radius: 50%;

    cursor: pointer;
}

#strict-light {
    height: 5px;
    width: 5px;
    background: #2d2d2d;
    border: 1px solid black;
    border-radius: 50%;

    position: absolute;

    top: 10px;
    left: 22px;
}

@media screen and (max-width: 525px) {
    #bottom-screen {
        top: 55px;
    }

    #game-circle {
        height: 300px;
        width: 300px;
        box-shadow: 0px 0px 15px 2px grey;
    }

    #color-circle {
        height: 300px;
        width: 300px;
        background: pink;
        border-radius: 50%;

        position: absolute;
        margin: auto;
        left: 0; right: 0;
        top: 0; bottom: 0;
    }

    .btn {
        height: 150px;
        width: 150px;
        position: absolute;

        border: 10px solid #121212;

        margin: 0;
        padding: 0;
    }

    #green {
        background: green;
        border-radius: 150px 0 0 0;
        left: -20px;
    }

    #red {
        background: red;
        left: 150px;
        border-radius: 0 150px 0 0;
    }

    #blue {
        background: blue;
        left: 150px;
        top: 167px;
        border-radius: 0 0 150px 0;
    }

    #yellow {
        background: yellow;
        top: 167px;
        left: -20px;
        border-radius: 0 0 0 150px;
    }

    #center-circle {
        height: 150px;
        width: 150px;
        border: 10px solid #121212;
        background: #EEEEEE;
        border-radius: 50%;


        position: absolute;
        margin: auto;
        left: 0; right: 0;
        top: 40px; bottom: 0;
    }

    .screen {
        height: 25px;
        width: 25px;
        font-size: 0.4em;
        line-height: 25px;
        font-weight: 900;
    }

    #counter {
        font-size: 0.75em;
    }

    #strict-light {
        top: 2px;
        left: 9px;
    }
}